@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #242424;
  border-radius: 4px;
  &:hover {
    background-color: #060606be;
  }
}


$foreground-rgb: #F8F9FA;
$text-accent: #212529;

body {
  color: $text-accent;
  background-color: $foreground-rgb;
}

.utilities {
  .text-balance {
    text-wrap: balance;
  }
}
